products {
    .products {
        text-align: center;

        h1 {
            margin: 20px 0 20px 0;
            font-size: 2rem;
            color: #fff;
        }

        img {
            margin: 20px;
        }
    }
}