app-root{
  .app {
    h1 {
        color: #fff;
        margin: 0;
    }

    button {
        border: none;
        outline: none;
        padding: 8px 15px;
        background-color: maroon;
        color: #fff;
        margin: 10px;
    }
  }   
}